<div id="particles-js">
  <div class="header">
      <h1>
        <span class="site-title">{{ site.username }}</span>
        <span class="site-description">{{ site.user_title }}</span>
      </h1>
      <div class="header-icons">
        <!--a aria-label="Send email" href="mailto:@gmail.com"><i class="icon fa fa-envelope"></i></a-->
        <!--a aria-label="Twitter" target="_blank" href="https://twitter.com/trustyPlatypus"><i class="icon fa fa-twitter" aria-hidden="true"></i></a-->


        <!--a aria-label="Spotify" target="_blank" href="https://open.spotify.com/user/1114822704?si=a9MEp0LEQ0uD41ky5BD_vg"><i class="icon fa fa-spotify" aria-hidden="true"></i></a-->
        <!--a aria-label="My Facebook" target="_blank" href="https://www.facebook.com/"><i class="icon fa fa-facebook" aria-hidden="true"></i></a-->
        <!--a aria-label="LinkedIn" target="_blank" href="https://www.linkedin.com/in/nicolas-bloyet/"><i class="icon fa fa-linkedin-square" aria-hidden="true"></i></a-->

        <a aria-label="Github" target="_blank" href="https://github.com/theplatypus"><i class="icon fa fa-github-alt" aria-hidden="true"></i></a>

        <a aria-label="ResearchGate" target="_blank" href="https://www.researchgate.net/profile/Nicolas_Bloyet"><i class="icon ai ai-researchgate ai-3x"></i>
        </a>

        <a aria-label="dblp" target="_blank" href="https://dblp.uni-trier.de/pers/hd/b/Bloyet:Nicolas"><i class="icon ai ai-dblp ai-3x"></i>
        </a>
        
        <a aria-label="LinkedIn" target="_blank" href="https://www.linkedin.com/in/nicolas-bloyet/"><i class="icon fa fa-linkedin" aria-hidden="true"></i></a>



        <!--a aria-label="My ResearchGate" target="_blank" href="https://www.researchgate.net/profile/Nicolas_Bloyet"><i class="icon fab fa-researchgate" style="font-style: normal;"></i></a>

        <a aria-label="My ResearchGate" target="_blank" href="https://www.researchgate.net/profile/Nicolas_Bloyet"><i class="icon ai ai-researchgate-square ai-3x"></i>
        </a-->

        
        <a aria-label="Instagram" target="_blank" href="https://www.instagram.com/monsieur.scotty/"><i class="icon fa fa-instagram" aria-hidden="true"></i></a>


      </div>
      <div class="header-links">
        <!--a class="link" href="#about" data-scroll>About Me</a-->
      </div>
  </div>
  <a class="down" href="#about" data-scroll><i class="icon fa fa-chevron-down" aria-hidden="true"></i></a>
</div>
